<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>購入本管理アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>購入本管理アプリ</h1>
    <h2>購入本一覧</h2>
    <br>
        {% if books == []%}
            <p>購入した本の情報はまだありません</p>
        {% else %}
            <table border="1">
                <tr>
                    <th>タイトル</th>
                    <th>購入日</th>
                    <th>目標日</th>
                </tr>
                {%for book in books%}
                    <tr>
                        <td>{{book.title}}</td>
                        <td>{{book.date_of_purchase}}</td>
                        <td>{{book.aim_day}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <a href="{{ url_for('form')}}" class="button">編集</a>
</body>
</html>
